@model PagedList.IPagedList<Mvc5Project.Models.BlogViewModel>
@using Mvc5Project.Controllers


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = BlogController.checkCatList;
    var tags = BlogController.checkTagList;

}

<div class="blogContainer">
    <div class="mainblogview">
        @{Html.RenderPartial("Posts");}
    </div>
    <div class="mainblogbar">

        @if (User.IsInRole("Admin"))
        {
            <div class="adminBlogCtrl">
                <table>
                    <tr>
                        <td><a href="@Url.Action("AddNewPost","Blog")">Add New Post</a></td>
                    </tr>

                    <tr>
                        <td><a href="@Url.Action("CategoriesAndTags","Blog")">Categories And Tags</a></td>
                    </tr>
                </table>
            </div>
        }


        <div class="blogControlPanel">
            @using (Html.BeginForm("Index", "Blog", FormMethod.Get, new { @class = "indexSearchForm" }))
            {
                if (ViewBag.CurrentSearchCategory != null)
                {
                    foreach (var item in ViewBag.CurrentSearchCategory)
                    {
                        <input type="hidden" name="searchCategory" value="@item" />
                    }
                }
                if (ViewBag.CurrentSearchTag != null)
                {
                    foreach (var item in ViewBag.CurrentSearchTag)
                    {
                        <input type="hidden" name="searchTag" value="@item" />
                    }
                }
                <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
                <input type="search" name="searchString" value="@ViewBag.CurrentSearchString" placeholder="Search..." />
                <input type="submit" value="&#128270;" style="background:none;border:none;" />
            }
            @{
                var rssUrl = Request.Url.Scheme + "://" + Request.Url.Host + "/Blog/feed";
            }
            <div style="margin:10px;"><a href="@rssUrl" style="text-decoration:none;color:blue;" title="RSS">RSS Feed</a></div>
            <div style="margin:10px;"><a href="@Url.Action("AllPosts", "Blog")" style="text-decoration:none;color:blue;" title="Posts">Post List</a></div>

            <div style="color:blue;cursor:pointer;float:left;width:300px;margin:10px;" id="indexFilterBtn">Filter</div>

            @using (Html.BeginForm("Index", "Blog", FormMethod.Get, new { @class = "indexFilterForm" }))
            {
                <table class="blogCtrlTable">
                    <tr>
                        <td><a class="blgCtrlPnl" title="Categories">Categories</a></td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            @foreach (var cat in categories)
                            {
                                <div style="width:45%;float:left;">
                                    @if (cat.Checked)
                                    {
                                        <input type="checkbox" name="searchCategory" value="@cat.Category.Name" checked="checked" /> @cat.Category.Name
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="searchCategory" value="@cat.Category.Name" /> @cat.Category.Name
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><a class="blgCtrlPnl" title="Tags">Tags</a></td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            @foreach (var tag in tags)
                            {
                                <div style="width:45%;float:left;">
                                    @if (tag.Checked)
                                    {
                                        <input type="checkbox" name="searchTag" value="@tag.Tag.Name" checked="checked" /> @tag.Tag.Name
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="searchTag" value="@tag.Tag.Name" /> @tag.Tag.Name
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="hidden" name="page" value="1" />
                            <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
                            <input type="hidden" name="searchString" value="@ViewBag.CurrentSearchString" />
                            <input class="indexFiltBtn" type="submit" value="Filter" />
                        </td>
                    </tr>
                </table>
            }
        </div>

    </div>
</div>

